<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Plataformas</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css')}}">
    <style>
        body {
            background-image: url('static/images/17973908.jpg'); /* Replace with your desired background image */
            background-size: auto;
            background-position: center;
            background-repeat: no-repeat;
        }
    </style>

</head>
<body>
    <div class="container">
        <!-- Logo Section -->
        <img src="static/images/NIT_logo.png" alt="Logo" class="logo"> <!-- Replace with your logo file name -->

        <h1 class="text-center mb-4">Sistema de Plataformas</h1>

        <!-- Introductory Text 
        <p class="text-center">Texto introdutorio</p>
        -->
        <div class="row justify-content-center">
            {% for desk_name, desk_info in desks.items() %}
            <div class="col-md-4 desk p-3">
                <img src="{{ desk_info.image }}" alt="{{ desk_name }} Image">
                <h3>{{ desk_name }}</h3>
                <p>Ao clicar no botão abaixo , será redirecionado para a página: {{ desk_name | lower }}.</p>
                <a class="btn btn-primary btn-lg" href="{{ desk_info.url }}" target="_blank">Ir para {{ desk_name }}</a>            
            </div>
            {% endfor %}
        </div>

    </div>
    <!-- Footer -->
    <footer class="bg-dark text-white text-center py-3 mt-4">
        <p>&copy; {{ current_year }} SRECD - NIT | 2024 </p>
    </footer>

    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>